.comment-form{
  .comment-form-comment textarea {
    border: 0 !important;
    border-bottom: 2px solid #4444 !important;
    background-color: transparent;
    height: 3.4em;
    box-shadow: none;
    overflow: auto;
    outline: none;
    line-height: 20px;
    resize: vertical;
  }
  .form-submit input[type=submit] {
    padding: 5px 20px;
    border: 1px solid #305C9B;
    background-color: #305C9B;
    border-radius: 3px;
    color: white !important;
    cursor: pointer;
  }
  .logged-in-as {
    display: none;
  }
}

.commentlist {
  .comment-author.vcard img{
    border-radius: 2rem;
  }
  .comment-meta.commentmetadata {
    margin: 0 0 12px 0;
    a:hover {
      color: #305C9B;
    }
  }
  .reply {
    a:hover {
      color: #305C9B;
    }
  }
}

#respond input[type=text] {
  margin: 0 0 13px;
  width: 100%;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid #4444;
  background-color: transparent;
  outline: none;
}

#respond textarea {
  border: none;
  border-bottom: 2px solid #4444;
  box-shadow: none;
  background-color: transparent;
  outline: none;
  height: 3.4rem;
  margin: 0;
  width: 100%;
  resize: vertical;
}

