.footer {
  color: #fff;
  background-color: #15466c;
  padding: 0.625rem 0;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    display: flex;
    flex-direction: row;
  }
}


.icon_social {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  padding: 0 .3rem;
  transition: all .2s ease-in-out;

  &:hover {
    color: #3798d4;
  }
}