.post{
  &__author{
    display: flex;
    flex-direction: row;
    align-items: center;
    &_name,
    &_date {
      margin-left: 10px;
    }
  }

  &__thumb {
    max-width: 100%;
    margin-top: 20px;
  }
}