.post{
  &__author{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    & img {
      border-radius: 1rem;
    }
    &_name,
    &_date {
      margin-left: 10px;
    }
  }

  &__thumb {
    max-width: 100%;
    margin-top: 20px;
  }
}

.nav-previous {
  a:hover {
    color: #305C9B;
  }
}