.widget_recent_entries {
  .post-date {
    display: block;
    margin-top: 10px;
    font-size: 11px;
  }
}

.widget_recent_comments {
  background-color: #fff;
}

.widget-area {
  ul {
    padding: 0!important;
  }
}

.widget-container {
  ul {
    margin: 0!important;
  }
}