@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic');

/* =Fonts= -------------------------------------------------------------- */
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.entry-meta span,.entry-meta a, .entry-utility span, .entry-utility a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* =Forms= -------------------------------------------------------------- */

.entry-content label {
    font-size: 15px;
}

.um .um-form .um-col-1 .um-field .um-field-area input[type=text], .um .um-form .um-col-1 .um-field input[type=password]{
    border: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #c4c4c4 !important;
    outline: none;
    width: 100%;
}

.um .um-form .um-col-1 .um-field .um-field-label {
    margin: 0 !important;
}

.um .um-form .um-col-1 .um-field .um-field-label label {
    font-size: 12px !important;
    font-weight: normal;
    margin-bottom: 5px !important;
}

.um-col-alt .um-left.um-half input[type=submit].um-button{
    background-color: #305C9B;
    color: #fff !important;
    border: 0 !important;
    min-width: 163px;
    margin-right: 87px;
}

.um-col-alt .um-right.um-half a, .um-col-alt .um-right.um-half a:hover {
    background-color: transparent;
    box-shadow: none!important;
    border: 1px solid #305C9B !important;
}